.container-main{
    display: flex;
    flex-direction: row;
    /* background-color: gray; */
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: stretch
}
.container-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    order:1;
    width:  30%;
    /* background-color: blue; */
}
.container-middle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    order:2;
    width: 40%;
    /* background-color: green; */
    align-items: stretch;
}
.container-middle-top{
    order:1;
    margin: 10px;
    margin-right: 10px;
    /* background-color: red; */
    border: 1px solid;
    height: 20%;
    text-align: center;
}
.container-middle-bottom{
    order:2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px;
    /* background-color: red; */
    /* border: 1px solid; */
    height: 80%;
}
.container-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    order:3;
    width: 30%;
    /* background-color: blue; */
}
.container-button-dimmer{
    order:1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    margin: 10px;
    height: 100%;
    /* background-color: gray; */
}
.button-dimmer{
    text-align: center;
    width: 100%;
    height: 100%;
}
.button-main{
   width: 50%;
   height: 50%;
}
