.container-menu{
    background-color: black;
}
.container-main{
    background-color: darkgray;
}
.button-main{
    background-color: lightslategrey;
    height: 50%;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 200%;
    }
.container-dimmer{
    justify-content: center;
    align-items: stretch;
    text-align: center;
    height: 100%;
    /* border: 1px solid; */
}
.button-dimmer{
    height: 20%;
}
.button-menu{
    height: 10em;
    background-color:darksalmon;
    border: 1px solid;
    border-color: sienna;
    text-decoration: none;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 120%;
}
.button-sup{
    background-color: black;
    border-radius: 19px;
    text-decoration: none;
    font-weight: 600;
    font-size: 200%;
    height: 20%;
    color: white;
}
.container-button-main{
    margin-bottom: 10px;
}
